<!DOCTYPE html>
   <html>
     <head>
       <title></title>
     </head>
     <body>
   
   
       <div class="boards">
         <span>Boards</span>
         <input type="search" name="searchbox">
         <button>Search</button>
     </div>
     <div class="things">
         <span>Things to be Done</span>
     </div>
     <div cdkDropListGroup>
         <div class="small-container">
           <h2>New Item</h2>
       
           <div
             cdkDropList
             [cdkDropListData]="newitem"
             class="item-list"
             (cdkDropListDropped)="drop($event)">
             <div class="item-box" *ngFor="let item of newitem" cdkDrag>{{item}}</div>
           </div>
         </div>
       
         <div class="small-container">
           <h2>On-hold</h2>
       
           <div
             cdkDropList
             [cdkDropListData]="onhold"
             class="item-list"
             (cdkDropListDropped)="drop($event)">
             <div class="item-box" *ngFor="let item of onhold" cdkDrag>{{item}}</div>
           </div>
         </div>
     
         <div class="small-container">
             <h2>In-progress</h2>
         
             <div
               cdkDropList
               [cdkDropListData]="inprogress"
               class="item-list"
               (cdkDropListDropped)="drop($event)">
               <div class="item-box" *ngFor="let item of inprogress" cdkDrag>
                   {{item}}
               </div>
             </div>
           </div>
     
           <div class="small-container">
             <h2>Done</h2>
         
             <div
               cdkDropList
               [cdkDropListData]="done"
               class="item-list "
               (cdkDropListDropped)="drop($event)">
               <div class="item-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
             </div>
           </div>
       </div>
       
     
     
   
     </body>
</html>

<router-outlet></router-outlet>